# Node (React)
client/node_modules/
client/build/
node_modules/

# .NET
Server/bin/
Server/obj/
**/bin/
**/obj/

# env
.env

# .NET Secrets
Server/appsettings.Development.json
Server/appsettings.Production.json
Server/appsettings.local.json

# mac
.DS_Store